<%- include("partials/_header") -%>
<body>
    index!
    <nav>
        <a href="about">about</a>
        <a href="contact">contact</a>
    </nav>
    <%- include("partials/_footer.ejs") -%>
</body>
</html>